.deliv-wrap{
    padding: 59px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
}

.deliv-wrap {
    h3{
        margin-bottom: 50px;
        color: #241400;
    /* Заголовок h2 */
        font-family: "Montserrat";
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
    }
    p{
        color:  #241400;
        text-align: center;
        font-family: "Montserrat";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        width: 900px;
        margin-bottom: 10px;
    }
    a{
        color: #241400;
        font-family: "Montserrat";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 196.187%;
    }
}

