.dostavka{
    padding: 0 0 100px;
    h2{
        color: #241400;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 196.187%; /* 23.542px */
        margin-bottom: 15px;
    }
    h3{
        color: #241400;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 196.187%; /* 23.542px */
    }
    p{
        color: #241400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 196.187%; /* 23.542px */
    }
}