.footer {
  background-color: #391f00;
}

.footer-wrap {
  padding: 56px 0 9px;
}
.footer-wrap-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer .logo-one {
  color: #fff;
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.59);
  }
}
.footer .logo-two {
  color: #fff;
}

.nav-wrap {
  nav {
    display: flex;
    justify-content: space-between;
    width: 605px;

    h3 {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 196.187%;
    }
    a {
      color: #fff;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 196.187%;
    }
  }
}

.foofer-call {
  display: flex;
  flex-direction: column;
  p {
    color: #fff;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;
    margin-bottom: 10px;
  }
}

.footer-btn {
  a {
    padding: 4px 7px;
    color: #e16a00;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 196.187%;
    background-color: #391f00;
    border: 1px solid #e16a00;
  }
}
.footer-wrap-down {
  p {
    text-align: center;
    color: #fff;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
  }
}
