.header {
  width: 100%;
  top: 0;
  left: 0;
}
.header-wrap {
  padding: 39px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cart {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #241400;
    transition: 0.1s;
    cursor: pointer;
    border: 0;
    position: fixed;
    right: 12%;
    z-index: 211;
  }
}
.logo-main {
  display: flex;
  width: 177px;
  justify-content: space-between;
  margin-top: 4px;
}
.logo-text {
  display: block;
  align-items: center;
  width: 130px;
  margin-top: 4px;
  text-align: center;
  .logo-one {
    color: #4d2900;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background: #00000096;
    }
  }
  .logo-two {
    text-transform: lowercase;
    color: #241400;
    font-family: "Montserrat";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
}
.navigation {
  ul {
    display: flex;
    width: 375px;
    justify-content: space-between;
    align-items: center;
    li {
      width: 125px;
      a {
        color: #241400;
        font-size: 18px;
        transition: 0.4s;
        padding: 5px;
        font-weight: 600;
        &:hover {
          color: #e16a00;
        }
      }
    }
  }
}
.find:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #00000096;
}

.find-wrap {
  width: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  .find-logo {
    width: 15px;
    height: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  input {
    margin-left: 5px;
    border: inherit;
    height: 35px;
    font-size: 16px;
    padding: 4px;
    background: #fffaf5;
    font-family: "Montserrat";
    &:focus {
      outline: none;
      font-family: "Montserrat";
    }
  }
}
