.sale {
  h3 {
    color: #241400;
    /* Заголовок h2 */
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%; /* 49.047px */
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .container {
    padding: 141px 0;

    .swiper-button-prev {
      color: #4d2900;
      top: var(--swiper-navigation-top-offset, 160%);
      left: var(--swiper-navigation-sides-offset, 290px);
    }
    .swiper-button-next {
      top: var(--swiper-navigation-top-offset, 160%);
      color: #4d2900;
      right: var(--swiper-navigation-sides-offset, 290px);
    }
    .swiper-pagination-bullet {
      width: 95px;
      height: 10px;
      border-radius: 0;
    }
    .swiper-pagination-bullet-active {
      background-color: #4d2900;
    }
  }
}

.card {
  width: 195px;
  background: #fff;
  padding: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  .card-img {
    width: 134px;
    height: 190px;
    text-align: center;
    margin: auto;
    img {
      width: 100%;
      height: 90%;
      object-fit: contain;
    }
  }
  .old {
    color: #d70000;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-decoration: line-through;
    text-align: right;
  }
  span {
    color: #241400;
    font-size: 18px;
    font-weight: 700;
  }
  h4 {
    color: #241400;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    width: 170px;
    margin-top: 12px;
    margin-bottom: 5px;
  }
  p {
    color: #241400;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    width: 136px;
  }
  .btn-mark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    width: 100%;
    button {
      border-radius: 8px;
      background: #e16a00;
      box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
      color: #fff;
      border: inherit;
      font-size: 12px;
      font-style: normal;
      font-weight: 900;
      text-transform: uppercase;
      width: 90px;
      height: 29px;
      cursor: pointer;
    }
    .mark {
        display: flex;
        justify-content: space-evenly;
        width: 50px;
      align-items: center;

        img {
          width: 12px;
          height: 12px;
        }
        p{
            font-size: 13px;
            span{
                font-size: 13px;
                color: black;
                font-weight: normal;
            }
        }
      }
  }
}

.slider-wrap {
  padding: 0 0 58px;
}
.card-img {
  width: 134px;
  height: 190px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.swiper-paginationn {
  margin: auto;
  text-align: center;
}
